@using HotelsInCities.Infrastructure.WeatherForecast.ResponseEntities
@model WeatherForecastResponse

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weather Forecast</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th></th>
    </tr>


   
    <tr>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.Temp)
        </td>
        <th>
            @Html.DisplayFor(model => model.Summary)
        </th>
    </tr> 

</table>
